* {
    font-family: 'Calibri';
    color: black;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background: linear-gradient(to bottom, black, #9d0000, #80007E, #f25400, orange, white); */
    
    background: linear-gradient(to top, rgba(255, 255, 0, 0.5), #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
    min-width: 320px !important;
}

a {
    color: black;
    text-decoration: underline;
}

.whitebox_top {
    margin-top: 100px;
    margin-bottom: 20px;
    min-height: 200px;
    padding: 10px 5px 5px 0px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
}

.whitebox_btm {
    background-color: white;
    margin-top: 20px;
    min-height: 200px;
    padding-bottom: 40px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

td {
    padding-bottom: 10px !important;
    padding-right: 25px !important;
}

.well-sm {
    background-color: white;
    border-radius: 0px;
   
    text-align: center;
    transition: 2s;
    
    margin-bottom: 0px;
}

.well-sm:hover {
    background-color: #c4c4c4;
    border: gray solid 1px;
    transition: 2s;
}

#logo {
    margin-left: 20px;
    max-width: 80%;}

#images {
    
}

#images img {
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    width: 30%;
}

@media screen and (max-width: 767px) {
    .whitebox_top {
        height: 400px;
    }
    .whitebox_btm {
       margin-bottom: 30px;
        flex-direction: column;
    }
    #images img {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 26.8%;
    }
}

@media screen and (min-width: 768px) {
    .whitebox_top {
        height: 250px;
    }
}