* {
    box-sizing: border-box;
}

html {
    background-color: #E8E8E8;
}


#top-menu {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 12px;
}
header {
	padding: 1em;
	background-color: #F1FFF1;
	border-radius: 50px;
	border: 1px solid #33CCFF;
}

header a {
    text-decoration: none;
    background-color: limegreen;
    margin: 5%;
    padding: 0.5em;
	border-radius: 2px;
	border: 1px solid #33CCFF;
}
a {
    color: white;
}
a:hover {
    background-color: cadetblue;
}

#title {
    margin-top: 25px;
}

img {
	max-width: 100%;
	border: 1px solid #33CCFF;
}
@media (max-width: 768px) {
	header {
		width: 100% !important;
		height: 215px;
	}
	a{
		margin-right:  100%; !important;
	}
}