@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-BlackItalic.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-BoldItalic.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-Italic.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-Light.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-LightItalic.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('./assets/Merriweather-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'IBM Plex Sans', sans-serif;
    /*background-color: rgb(17 24 39);*/
}

body {
    margin: 0 auto;
    background: #0F2027;  /* fallback for old browsers */

}

p {
    font-family: 'Merriweather', serif;
}

.root {
    height: 100%;
}